@import url(../css/fonts.css);
.container {
  max-width: 905px;
}

header {
  background: url(../img/bg.png);
  padding-top: 20px;
  position: relative;
}

.social {
  margin-left: 8%;
}

.social .social-item a {
  display: block;
  width: 25px;
  height: 25px;
  padding-top: 4px;
  margin: 3px;
  background-color: #256988;
  opacity: .6;
  color: #FFF;
  border-radius: 50%;
}

.social .social-item a:hover {
  color: #256988;
  background-color: #FFF;
}

.navbar-nav .nav-item {
  margin: 10px;
}

.navbar-nav .nav-item a {
  font: 16px PTSansBold, sans-serif;
  text-decoration: none;
  padding: 3px;
  text-transform: uppercase;
  color: #256988;
}

.navbar-nav .nav-item a:hover {
  color: #D92058;
}

h2 {
  margin-top: 93px;
  text-align: center;
  font: 53px Trebuchet MS Bold, sans-serif;
  letter-spacing: -1.11px;
  line-height: 61.11px;
  color: #256988;
  text-shadow: 0 2px 0 rgba(255, 255, 255, 0.49);
}

.btn {
  position: relative;
  padding-bottom: 42px;
  left: -25px;
}

.btn img {
  z-index: -1;
}

.btn .registry {
  position: absolute;
  font: 26px Trebuchet MS Bold, sans-serif;
  color: #FFF;
  top: 23%;
  margin-left: -30%;
  text-decoration: none;
}

.btn .registry:hover {
  color: #000;
}

#main {
  padding-top: 40px;
  padding-bottom: 60px;
}

#main .description {
  margin: 0 auto;
  width: 75%;
  font: 15px ArialMT, sans-serif;
  color: #256988;
  text-align: left;
  margin-bottom: 32px;
}

#main .description span {
  font-weight: bold;
}

#main h3 {
  font: 19px Trebuchet MS Regular, sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 8.94px;
  color: #256988;
  margin-bottom: 39px;
  position: relative;
}

#main h3::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  color: #256988;
  background-color: #256988;
  margin-top: 12px;
  opacity: .5;
}

#main .courses-item {
  margin: 10px 0;
}

#main .course-head {
  padding: 0;
  margin: 0;
  font: 28px Trebuchet MS Regular, sans-serif;
  color: #F03178;
}

#main p {
  font: 13px ArialMT, sans-serif;
  line-height: 18.06px;
  color: #256988;
}

.our-sponsors {
  width: 30%;
}

.our-sponsors .sponsor-head {
  font: 600 17px ArialBold MT, sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 27.78px;
  letter-spacing: 7.67px;
  color: #256988;
  position: relative;
  margin: 0 0 15px 0;
}

.our-sponsors .sponsor-head::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  color: #256988;
  background-color: #256988;
  margin-top: 8px;
  opacity: .5;
}

.our-sponsors ul {
  margin-top: 25px;
}

.our-sponsors ul li {
  margin: 5px;
}

.our-sponsors ul li a {
  display: block;
  text-decoration: none;
  padding: 5px;
}

.our-sponsors ul li a:hover {
  color: #000;
  background-color: #D92058;
  border-radius: 10px;
}

footer {
  margin-top: 60px;
}

.nav-item a {
  text-decoration: none;
  font: 11px ArialBold MT, sans-serif;
  color: #256988;
  text-transform: uppercase;
}

.nav-item a:hover {
  color: #D92058;
}

.nav-item .copyright {
  font: 11px ArialMT, sans-serif;
  color: #256988;
  opacity: .6;
}
